<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hi, welcome to Rock, Paper, Scissors!</h1>
    <p>What are your names?</p>
    <form action="/game/new" method="post">
      <p>Player One: <input id="player1-name-textbox" type="text" name="playerOne" required></p>
      <p>Player Two: <input id="player2-name-textbox" type="text" name="playerTwo"required></p>
      <input id="names-submit" type="submit" value="Submit!">
    </form>
  </body>
</html>
